# Accessing Data

In [6]:
#This gets us into the right directory from home, in order to run the import python script from Mat

#sys = system (module), gives information and control over python interpreter/terminal itself
import sys
sys.path.append("/home/565/pv3484/aus_substation_electricity")

#% is a magic command, special shortcut command that lets you control/interact with notebook environment (ie. gives control of terminal without writing full python code)
%cd aus_substation_electricity/

!pwd

#This section imports the substations that Mat put together

%run /home/565/pv3484/aus_substation_electricity/import_substation.py

[Errno 2] No such file or directory: 'aus_substation_electricity/'
/home/565/pv3484/aus_substation_electricity
/home/565/pv3484/aus_substation_electricity
processing nsw substations for ['ausgrid'] from None to None
ausgrid
following columns in demand are not in info index:
['MT_HU', 'SI_NO']
removing these columns from demand
number of substations in ausgrid substation info: 134
number of substations in ausgrid substation data: 132
following sites match selection criteria:
               energy_asset          Name  Area  Dwellings  Persons  Residential  Commercial  Industrial  Primary Production  Education  \
ID
BLAKE         AG_BLAKEHURST    Blakehurst     7      10081    28521        0.850       0.005       0.021               0.000      0.022
PUNCH          AG_PUNCHBOWL     Punchbowl     9      17514    50395        0.826       0.048       0.038               0.000      0.025
MEADO         AG_MEADOWBANK    Meadowbank    15      22420    56948        0.825       0.023       0.015               0.000      0.036
MOSMA             AG_MOSMAN        Mosman    11      25967    52831        0.817       0.046       0.001               0.000      0.013
RIVER          AG_RIVERWOOD     Riverwood    10      12528    34547        0.813       0.018       0.042               0.000      0.035
...                     ...           ...   ...        ...      ...          ...         ...         ...                 ...        ...
WE_GO       AG_WEST GOSFORD  West Gosford   145      12481    28063        0.081       0.016       0.012               0.018      0.005
WYONG              AG_WYONG         Wyong   186       8572    23207        0.067       0.002       0.012               0.258      0.004
RUTHE      AG_RUTHERFORD 33    Rutherford   227       6315    16066        0.065       0.001       0.012               0.900      0.002
ROTHB  AG_ROTHBURY 132/11KV      Rothbury   225       5677    13091        0.043       0.001       0.005               0.588      0.001
MUSWE    AG_MUSWELLBROOK 33  Muswellbrook   294       2574     5703        0.037       0.001       0.001               0.671      0.000

       Hospital/Medical  Transport  Parkland  Water  Other
ID
BLAKE             0.001      0.000     0.102  0.000  0.000
PUNCH             0.002      0.001     0.061  0.000  0.000
MEADO             0.014      0.006     0.082  0.000  0.000
MOSMA             0.001      0.000     0.123  0.000  0.000
RIVER             0.002      0.001     0.089  0.000  0.000
...                 ...        ...       ...    ...    ...
WE_GO             0.001      0.000     0.549  0.005  0.312
WYONG             0.001      0.000     0.226  0.001  0.430
RUTHE             0.000      0.000     0.008  0.000  0.012
ROTHB             0.000      0.000     0.252  0.004  0.106
MUSWE             0.000      0.000     0.003  0.000  0.285

[84 rows x 15 columns]
removing negative values
removing values outside of 5 standard deviations, within t2m bins
removing constant values
not filling gaps, set fill_gaps=True to enable

substation info:
                energy_asset          Name  Area  Dwellings  Persons  Residential  Commercial  Industrial  Primary Production  Education  \
BLAKE         AG_BLAKEHURST    Blakehurst     7      10081    28521        0.850       0.005       0.021               0.000      0.022
PUNCH          AG_PUNCHBOWL     Punchbowl     9      17514    50395        0.826       0.048       0.038               0.000      0.025
MEADO         AG_MEADOWBANK    Meadowbank    15      22420    56948        0.825       0.023       0.015               0.000      0.036
MOSMA             AG_MOSMAN        Mosman    11      25967    52831        0.817       0.046       0.001               0.000      0.013
RIVER          AG_RIVERWOOD     Riverwood    10      12528    34547        0.813       0.018       0.042               0.000      0.035
...                     ...           ...   ...        ...      ...          ...         ...         ...                 ...        ...
WE_GO       AG_WEST GOSFORD  West Gosford   145      12481    28063        0.081       0.016       0.012               0.018      0.005
WYONG              AG_WYONG         Wyong   186       8572    23207        0.067       0.002       0.012               0.258      0.004
RUTHE      AG_RUTHERFORD 33    Rutherford   227       6315    16066        0.065       0.001       0.012               0.900      0.002
ROTHB  AG_ROTHBURY 132/11KV      Rothbury   225       5677    13091        0.043       0.001       0.005               0.588      0.001
MUSWE    AG_MUSWELLBROOK 33  Muswellbrook   294       2574     5703        0.037       0.001       0.001               0.671      0.000

       Hospital/Medical  Transport  Parkland  Water  Other
BLAKE             0.001      0.000     0.102  0.000  0.000
PUNCH             0.002      0.001     0.061  0.000  0.000
MEADO             0.014      0.006     0.082  0.000  0.000
MOSMA             0.001      0.000     0.123  0.000  0.000
RIVER             0.002      0.001     0.089  0.000  0.000
...                 ...        ...       ...    ...    ...
WE_GO             0.001      0.000     0.549  0.005  0.312
WYONG             0.001      0.000     0.226  0.001  0.430
RUTHE             0.000      0.000     0.008  0.000  0.012
ROTHB             0.000      0.000     0.252  0.004  0.106
MUSWE             0.000      0.000     0.003  0.000  0.285

[84 rows x 15 columns]

cleaned demand data:
                         BLAKE     PUNCH     MEADO     MOSMA     RIVER     CA_CO     DU_HI     FI_DO     UMINA     CAMPS  ...     LISAR     BEROW  \
2004-01-01 00:00:00       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  ...       NaN       NaN
2004-01-01 00:30:00  11.77248       NaN  33.32921  26.86411  13.89570  23.07817  22.18987  15.14478  14.97165  28.97894  ...  14.80155  15.49202
2004-01-01 01:00:00  10.40756  20.70845  30.79541  24.53589  11.52604  21.82337  20.55462  13.54961  17.09998  25.91148  ...  16.72754  13.00451
2004-01-01 01:30:00   9.53552  19.09061  28.38565  22.76285   9.99050  20.53466  18.80529  12.44237  14.73313  23.68233  ...  14.94422  11.04744
2004-01-01 02:00:00   8.39808  17.51083  26.50744  21.38383   8.39808  19.38160  17.60738  11.37266  11.99934  21.56750  ...  13.16090   8.92574
...                       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...  ...       ...       ...
2017-04-30 21:30:00   9.50533  13.82180  35.61976  33.87399  10.75536  25.34371  21.80803  15.83637   9.37035  30.63082  ...   9.25361   8.73960
2017-04-30 22:00:00   9.98991  14.41893  36.12732  32.34371  11.55271  24.67497  20.17243  15.53987  11.66049  32.37968  ...   8.90197  10.06916
2017-04-30 22:30:00   9.11393  13.64618  34.36899  29.54764  10.79080  23.69757  18.59323  14.42365  11.39826  30.29581  ...   8.29123   9.20052
2017-04-30 23:00:00   8.20067  13.57593  33.15447  26.69490   9.97573  21.99999  17.12683  13.58649  12.79682  28.99578  ...   7.90258   9.80325
2017-04-30 23:30:00   8.20067  12.82073  33.10009  25.56136  11.32236  21.50272  16.07403  13.01094  13.86322  27.74438  ...   8.08765  11.20371

                        HO_BA    SOMER    MORIS     WE_GO     WYONG     RUTHE    ROTHB    MUSWE
2004-01-01 00:00:00       NaN      NaN      NaN       NaN       NaN       NaN      NaN      NaN
2004-01-01 00:30:00  11.29188  6.80748      NaN  16.65575  12.23212   5.18215      NaN  9.24960
2004-01-01 01:00:00  11.47669  7.15043      NaN  18.55414  13.84397   4.32418      NaN  7.81060
2004-01-01 01:30:00  11.12555  6.22447      NaN  16.83484  12.07094   3.56669      NaN  6.56823
2004-01-01 02:00:00  11.36580  5.62432      NaN  15.15136  10.62028   3.10251      NaN  6.05148
...                       ...      ...      ...       ...       ...       ...      ...      ...
2017-04-30 21:30:00  20.42508  6.76418  8.41530  19.75649  12.67888  11.14904  3.50684  4.42018
2017-04-30 22:00:00  19.34812  6.92181  7.90817  20.08455  13.20490  10.71381  3.45734  4.09225
2017-04-30 22:30:00  19.84947  6.82811  7.39908  19.73826  12.71516  10.25265  3.06595  4.03755
2017-04-30 23:00:00  19.55237  6.97921  8.43125  20.15745  13.24118  10.72097  3.14304  4.11488
2017-04-30 23:30:00  18.84678  7.51658  8.15187  19.28262  12.60633  10.21719  2.98684  3.93480

[205655 rows x 84 columns]

BoM obs:
                       t2m  t2m_30max  t2m_30min t2m_bin
2000-01-01 00:00:00  16.8        NaN        NaN   15-19
2000-01-01 00:30:00  16.4       16.9       16.4   15-19
2000-01-01 01:00:00  16.0       16.4       16.0   15-19
2000-01-01 01:30:00  15.9       16.0       15.9   15-19
2000-01-01 02:00:00  15.7       16.0       15.6   15-19
...                   ...        ...        ...     ...
2022-12-31 21:30:00  22.1       22.2       22.0   20-24
2022-12-31 22:00:00  21.9       22.2       21.9   20-24
2022-12-31 22:30:00  21.7       22.0       21.7   20-24
2022-12-31 23:00:00  21.7       21.8       21.6   20-24
2022-12-31 23:30:00  21.5       21.8       21.5   20-24

[403248 rows x 4 columns]
Varibles: demand, info, obs

In [19]:
# Define the all national public holidays (including moving i.e. easter, is accounted for)
holidays = {
    "New Year's Day": lambda y: pd.Timestamp(f"{y}-01-01"),
    "Australia Day": lambda y: pd.Timestamp(f"{y}-01-26"),
    "Good Friday": lambda y: easter(y) - pd.Timedelta(days=2),
    "Easter Saturday": lambda y: easter(y) - pd.Timedelta(days=1),
    "Easter Sunday": lambda y: easter(y),
    "Easter Monday": lambda y: easter(y) + pd.Timedelta(days=1),
    "ANZAC Day": lambda y: pd.Timestamp(f"{y}-04-25"),
    "Christmas Day": lambda y: pd.Timestamp(f"{y}-12-25"),
    "Boxing Day": lambda y: pd.Timestamp(f"{y}-12-26"),
}

# Temperature Observations
- creating a function so I can plot any day and year range temperature obsersation for substations

In [41]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.backends.backend_pdf import PdfPages
from dateutil.easter import easter

# Define all national public holidays (fixed + moving)
holidays = {
    "New Year's Day": lambda y: pd.Timestamp(f"{y}-01-01"),
    "Australia Day": lambda y: pd.Timestamp(f"{y}-01-26"),
    "Good Friday": lambda y: pd.Timestamp(easter(y)) - pd.Timedelta(days=2),
    "Easter Saturday": lambda y: pd.Timestamp(easter(y)) - pd.Timedelta(days=1),
    "Easter Sunday": lambda y: pd.Timestamp(easter(y)),
    "Easter Monday": lambda y: pd.Timestamp(easter(y)) + pd.Timedelta(days=1),
    "ANZAC Day": lambda y: pd.Timestamp(f"{y}-04-25"),
    "Christmas Day": lambda y: pd.Timestamp(f"{y}-12-25"),
    "Boxing Day": lambda y: pd.Timestamp(f"{y}-12-26"),
}

def plot_holiday_temperatures(obs, holidays, start_year=2004, end_year=2018,
                              base_dir="/home/565/pv3484/aus_substation_electricity/figures/temperature_obs"):
    """
    Plot temperature observations for selected columns across multiple years,
    saving each holiday's plots into a single multi-page PDF file in base_dir.
    """
    # Ensure datetime index
    obs.index = pd.to_datetime(obs.index)
    
    # Keep your rename_map exactly as you wrote it
    rename_map = {
        "t2m": "Average Temperature",
        "t2m_30max": "Maximum Temperature",
        "t2m_30min": "Minimum Temperature"
    }
    obs = obs.rename(columns=rename_map)
    
    # Only keep the renamed temperature columns
    temp_columns = list(rename_map.values())
    
    # Define viridis colour palette for years
    years = list(range(start_year, end_year+1))
    palette = sns.color_palette("Dark2", len(years))
    
    # Ensure base_dir exists
    os.makedirs(base_dir, exist_ok=True)
    
    for holiday_name, holiday_func in holidays.items():
        pdf_path = os.path.join(base_dir, f"{holiday_name.replace(' ', '_')}.pdf")
        
        with PdfPages(pdf_path) as pdf:
            for temp_col in temp_columns:
                plt.figure(figsize=(10, 4))
                
                for i, year in enumerate(years):
                    holiday_date = pd.Timestamp(holiday_func(year))
                    day_data = obs[obs.index.date == holiday_date.date()].dropna(subset=[temp_col])
                    
                    if not day_data.empty:
                        hour_offset = day_data.index.hour + day_data.index.minute / 60
                        plt.plot(hour_offset, day_data[temp_col],
                                 label=str(year),
                                 color=palette[i])
                    else:
                        plt.plot([], [], label=f"{year} (no data)", color=palette[i], linestyle=":")
                
                plt.title(f'{holiday_name} – {temp_col} ({start_year}-{end_year})', fontsize=16)
                plt.xlabel('Hour of Day', fontsize=14)
                plt.ylabel('Temperature Observation', fontsize=14)
                plt.xticks(range(0, 25, 2))
                plt.legend(loc='center left', bbox_to_anchor=(1, 0.5), fontsize=10)
                plt.tight_layout()
                
                # Save this figure as a new page in the holiday PDF
                pdf.savefig()
                plt.close()
        
        print(f"✅ Saved multi-page PDF for {holiday_name}: {pdf_path}")

## Using the function above

In [42]:
plot_holiday_temperatures(obs, holidays, start_year=2004, end_year=2018)

✅ Saved multi-page PDF for New Year's Day: /home/565/pv3484/aus_substation_electricity/figures/temperature_obs/New_Year's_Day.pdf
✅ Saved multi-page PDF for Australia Day: /home/565/pv3484/aus_substation_electricity/figures/temperature_obs/Australia_Day.pdf
✅ Saved multi-page PDF for Good Friday: /home/565/pv3484/aus_substation_electricity/figures/temperature_obs/Good_Friday.pdf
✅ Saved multi-page PDF for Easter Saturday: /home/565/pv3484/aus_substation_electricity/figures/temperature_obs/Easter_Saturday.pdf
✅ Saved multi-page PDF for Easter Sunday: /home/565/pv3484/aus_substation_electricity/figures/temperature_obs/Easter_Sunday.pdf
✅ Saved multi-page PDF for Easter Monday: /home/565/pv3484/aus_substation_electricity/figures/temperature_obs/Easter_Monday.pdf
✅ Saved multi-page PDF for ANZAC Day: /home/565/pv3484/aus_substation_electricity/figures/temperature_obs/ANZAC_Day.pdf
✅ Saved multi-page PDF for Christmas Day: /home/565/pv3484/aus_substation_electricity/figures/temperature_obs/Christmas_Day.pdf
✅ Saved multi-page PDF for Boxing Day: /home/565/pv3484/aus_substation_electricity/figures/temperature_obs/Boxing_Day.pdf